__pycache__
main2.py
app_pyside6
shary_demo
venv
old
.env
.dockerignore
# Ignore all directories (including top-level ones)
*/

# Ignore all files inside directories
**/*

# But do not ignore directories containing "_kivymd"
!**/_kivymd/
!**/_kivymd/**